/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;

	&:hover {
		border-color: #ccc #bbb #aaa;
	}

	&:active,
	&:focus {
		border-color: #aaa #bbb #bbb;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/* Error 404 and Search Not Found */

.error404, .search-no-results {
	.search-form {
    
    .search-field {
      display: block;
    }

    .search-submit {
      display: none;
    }
    
    input {
      display: block;
    }

    fieldset {
      margin: 0;
      padding: 0;
      border: none;
    }
  }
}


// Comment form on single journal post
.comment-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	p {
		width: 100%;
	}

	label {
		color: $color__purple-brand;
		@include font-accent;
	}

	.comment-form-comment {
		width: 100%;
	}

	.comment-form-author, .comment-form-email {
		width: 49%;
    display: flex;
    flex-direction: column;
	}

	.comment-form-url {
		width: 100%;
    display: flex;
    flex-direction: column;
	}

	input, textarea {
		background-color: #f4f4f4;
		border: $solid_border;
	}

	.form-submit input {
		@include font-accent;
		@include submit-button;
		@include button-sizing;
	}
}