/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Search Bar */
.search-form {

	fieldset, .search-submit {
		border: none;
    margin: 0;
    padding: 0;
		font-family: $font__accent;
	}
	// Search icon    
	.search-submit {
		padding: 0 0.75rem;		
		background: rgba(0, 0, 0, 0);
		box-shadow: none;
		color: $color__green-brand;
		font-size: 1rem;
		line-height: normal;
		text-shadow: none;
		outline: 0;
	}

	// Search Field
	input.search-field {
		padding: 0;
		display: none;
		background: transparent;
		border: 0;
		font-family: $font__accent;
		outline: 0;
		transition: width 1s;
	}

}

.nav-menu-search {
	display: flex;
}

/* Menus */
.site-header {
	position: fixed;
  width: 100%;
	background-color: rgba(255, 255, 255, 0.6);
	border-bottom: 1px solid $color__grey-border;
	z-index: 999;
}

.main-navigation {
	height: 3rem;
	width: 100%;
	// @include side-padding;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: $font__accent;
	text-transform: uppercase;

	li {
		padding: 0 0.75rem;
	}

	.nav-menu-logo {
		height: 2rem;
		width: 4rem;
		background-image: url('../../images/inhabitent-logo-tent.svg');
		background-repeat: no-repeat;
		background-size: contain;
	}

	#primary-menu {
		display: flex;
		align-items: center;
    justify-content: space-around;
	}

	.menu-main-menu-container {
		display: flex;
		align-items: center;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			// float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

