/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.home-banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../images/home-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.home {
  h2 {
    font-size: 2.25rem;
    font-weight: normal;
    text-align: center;
  }
}

.shop-categories {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  
  li {
    height: 17rem;
    width: 23.5%;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border: $solid_border;
    border-top-width: 5px;
    text-align: center;
    transition: border 0.1s;

    &:hover {
      border: 1px solid $color__orange-brand;
      border-top-width: 5px;
    }

    img {
      height: 4rem;
    }

    p {
      margin: 0;
      line-height: 1.75rem;
    }

    a {
      width: 50%;
      background: $color__green-brand;
      color: #FFF;
      transition: background 0.1s;
      

      &:hover {
        background: #14625d;
      }

      h3 {
        margin: 0;
        padding: 0.5rem 0;
        font-size: 0.9rem;
        font-weight: normal;
      }
    }
  }
}

.home-journal-display {
  h3 {
    margin-top: 0;
    color: $color__green-brand;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    line-height: normal;

    &:hover {
    color: #000;
    transition: all 0.1s;
    }

  }
}

.home-latest-posts {
  height: 25rem;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;

  .post-meta-data {
    margin-bottom: 0;
    font-size: 0.75rem;
  }

// single post
  .home-display-post {
    width: 32%;
    display: flex;
    flex-direction: column;

    .wp-post-image {
      max-height: 240px;
      overflow: hidden;
      // height: auto;
      width: 100%;
    }

    .post-display-data {
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

// CSS also applied to Journal home page
.post-read-more {
  margin: 0;
  width: 9rem;
  padding: 0.5rem 1rem;
  background-color: #FFF;
  border: 1px solid #000;
  color: #000;
  font-family: $font__accent;
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: $color__green-brand;
    border: 1px solid $color__green-brand;
    color: #FFF;
    transition: all 0.1s;
  }

  .blog & {
    padding: 0.75rem 1.5rem;
  }

}

/* Journal Home Page */

.blog, .page-id-21 {
	.site-content {
		@include container;
  	display: flex;

    .site-main {
      padding-top: 3rem;
      padding-right: 4rem;
    }

    .post {
      margin: 3rem 0rem 4rem 0rem;
    }

    #primary {
      flex-basis: 73%;
      max-width: 73%;
    }

		#secondary {
			flex-basis: 27%;
			padding-left: 4rem;

			h2 {
				margin: 0;
			}
		}
	}
}


/* About page */
.page-id-25 {
  h1 {
    margin: 0;
  }
}

.about-hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  // background: center / cover no-repeat;
}

.about-content {
  padding: 3rem 0;

  h2 {
    margin-top: 0;
    color: $color__purple-brand;
    letter-spacing: 0.15rem;
    text-align: center;
  }

  p {
    padding: 0 10rem; 
  }
}

/* Standard Page Template (Find Us) */
// .page {

//   .site-content {
// 		@include container;
//   	display: flex;

//     .site-main {
//       padding-top: 3rem;
//       padding-right: 4rem;
//     }
//   }
// }