/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.home-banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: $linear-gradient, url('../../images/home-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  h2 {
    margin-bottom: 4rem;
    color: $color__purple-brand;
    font-size: 2.25rem;
    font-weight: normal;
    text-align: center;
  }

  section {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.shop-categories {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  
  li {
    height: 17rem;
    width: 23.5%;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border: $solid_border;
    border-top-width: 5px;
    text-align: center;
    transition: border 0.1s;

    &:hover {
      border: 1px solid $color__orange-brand;
      border-top-width: 5px;
    }

    img {
      height: 4rem;
    }

    p {
      margin: 0;
      line-height: 1.75rem;
    }

    a {
      width: 50%;
      background: $color__green-brand;
      color: #FFF;
      transition: background 0.1s;
      
      &:hover {
        background: $color__green-hover;
      }

      h3 {
        margin: 0;
        padding: 0.5rem 0;
        font-size: 0.9rem;
        font-weight: normal;
      }
    }
  }
}

.home-journal-display {
  h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: $color__green-brand;
    font-size: 1.3rem;
    line-height: normal;
    letter-spacing: .1rem;

    &:hover {
    color: #000;
    transition: all 0.1s;
    }

  }
}

.home-latest-posts {
  height: 25rem;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;

  .post-meta-data {
    margin-bottom: 0;
    font-size: 0.75rem;
  }

// single post
  .home-display-post {
    width: 32%;
    display: flex;
    flex-direction: column;
    border: $solid_border;
    
    .wp-post-image {
      max-height: 240px;
      width: 100%;
      border-bottom: $solid_border;
      border-width: 5px;
      overflow: hidden;
    }

    .post-display-data {
      height: 40%;
      padding: 0.75rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

// CSS also applied to Journal home page
.post-read-more {
  margin: 0;
  width: 9rem;
  @include button-sizing;
  background-color: #FFF;
  border: 1px solid #000;
  color: #000;
  @include font-accent;
  font-size: 0.9rem;
  text-align: center;

  &:hover {
    background-color: $color__green-brand;
    border: 1px solid $color__green-brand;
    color: #FFF;
    transition: all 0.1s;
  }

  .blog & {
    @include button-sizing;
  }
}

.adventure-display {
  height: 33rem;
  margin: 0;
  padding: 0;
  list-style: none;

  .adventure-display-post {
    padding: 1rem;
    position: relative;
    display: inline-block;

    .adventure-data {
      top: 0;
      margin: 0.5rem;
      position: absolute;

      h3 {
        color: white;
        margin: 2rem 0 1rem 0;
        font-family: $font__main;
        font-weight: normal;
        text-transform: none;
        transition: color 0.1s;

        &:hover {
          color: $color__yellow-brand;
        }
      }
    }

    &:first-child {
      height: 100%;
      width: 49%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 58rem;
      font-size: 2.75rem;
    }

    &:nth-child(2) {
      height: 48%;
      width: 49%;
      float: right;
      background-position: 50% 70%;
      background-repeat: no-repeat;
      background-size: 40rem;
      font-size: 2.25rem;
    }

    &:nth-child(3), &:last-child {
      height: 48%;
      width: 23.5%;
      top: -259px;
      float: right;
      background-position: 50% 70%;
      background-repeat: no-repeat;
      background-size: 40rem;
      font-size: 1.4rem;
    }

    &:last-child {
      left: -23px;
    }

    .post-read-more {
      @include button-sizing;
      background: transparent;
      border-color: #FFF;
      color: #FFF;
      transition: all 0.1s;
    
      &:hover {
        background: $color__green-brand;
        border-color: $color__green-brand;
      }
    }

  }
}

a.more-adventures {
  margin: 1rem 0;
  @include button-sizing;
  display: inline-block;
  background: $color__green-brand;
  color: #FFF;
  @include font-accent;
  font-size: 1.15rem;
  transition: background 0.1s;

  &:hover {
    background: $color__green-hover;
  }
}

/* Journal Home, Find Us, Search, Error 404 */
// Style pages with sidebar
.blog, .page-id-21, .search-results, .error404, .search-no-results, .date, .tag, .category {
	.site-content {
		@include container;
    padding-top: 3rem;
  	display: flex;

    .site-main {
      padding-top: 2rem;
      padding-right: 4rem;
    }

    .post {
      margin: 1rem 0 4rem 0;
    }

    #primary {
      flex-basis: 72%;
      max-width: 72%;
    }

		#secondary {
			flex-basis: 28%;
			padding-left: 4rem;

			h2 {
				margin: 0;
			}
		}
	}
}

// Style like pages
.search-results, .error404, .page-id-21, .search-no-results, .date, .tag, .category {
  h1 {
    margin: 0;
    font-size: 2.25rem;
  }

  h1, h2 {
    letter-spacing: 0.1rem;
  }
}

/* Archive pages */
.date, .tag, .category {
  .page-header {
    margin-bottom: 3rem;
    padding: 1rem 0;
    border-bottom: $solid_border;
  }
}

/* About page */
.page-id-25 {
  h1 {
    margin: 0;
  }
}

.about-hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

.about-content {
  padding: 3rem 0;

  h2 {
    margin-top: 0;
    color: $color__purple-brand;
    letter-spacing: 0.15rem;
    text-align: center;
  }

  p {
    padding: 0 10rem; 
  }
}

/* Find Us */
.page-id-21 {

  article {

    h2 {
      color: $color__purple-brand;
      font-size: 2.1rem;
    }

    iframe {
      height: 18rem;
      width: 100%;
    }
  }
}

/* Adventure Pages */
.single-adventure {
  .adventure-header {

    img {
      height: auto;
      width: 100%;
    }
  }

  .adventure-content {
    padding: 3rem 10rem;
  }

  .adventure-title {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
  }

  .author {
    text-transform: uppercase;
    font-family: $font__accent;
    font-size: 1.25rem;
  }

}

// Archive
.post-type-archive-adventure {
  .site-main {
    @include container;
  
    header {
      margin: 0 0 3rem 0;
      width: 100%;
      display: flex;
      align-items: space-around;
      flex-direction: column;
      border-bottom: $dashed_border;
    }

    h1 {
      width: 100%;
      margin: 5rem 0 2rem 0;
      font-size: 2.5rem;
      text-align: center;
    }
  }
}

.adventure-posts {
  height: 68rem;
  margin: 0 0 3rem 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

  .adventure-display-post {
    height: 33rem;
    width: 49%;
    margin-bottom: 1.5rem;
    padding: 1rem;
    display: flex;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 58rem;
    font-size: 2.75rem;

    .adventure-data {
      top: 0;
      margin: 0.5rem;

      h3 {
        color: white;
        margin: 2rem 0 1rem 0;
        font-family: $font__main;
        font-weight: normal;
        text-transform: none;
        transition: all 0.1s;

        &:hover {
          color: $color__yellow-brand;
        }
      }
    }

    .post-read-more {
      @include button-sizing;
      background: transparent;
      border-color: #FFF;
      color: #FFF;
      transition: all 0.1s;
    
      &:hover {
        background: $color__green-brand;
        border-color: $color__green-brand;
      }
    }

  }
}


/* Search Page */
.search-results, .search-no-results {

  .page-header {
    padding: 1rem 0;
    border-bottom: $solid_border;
  }

  .status-publish {
    margin: 3rem 0 5rem 0;

    p {
      line-height: 1.75rem;
    }
  }

}

/* Error 404 Page */
.error404 {

  h2 {
    margin: 1.5rem 0;
    padding: 0;
    color: $color__purple-brand;
    font-size: 1.5rem;
    margin: 2rem 0;
  }

  .widget {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        line-height: 1.75rem;
      }
    }
  }
}