/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.home-journal-display {
  @include side-padding;

    h2, h3, .post-read-more {
    font-family: $font__accent;
    text-transform: uppercase;
  }

  h2 {
    font-size: 2.25rem;
    font-weight: normal;
    text-align: center;
  }

}

.home-latest-posts {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;

  .post-meta-data {
    margin-bottom: 0;
    font-size: 0.75rem;
  }

  .home-display-post {
    width: 32%;
    display: flex;
    flex-direction: column;

    .post-thumbnail {
      height: 59%;

      img {
        max-height: 240px;
        width: 100%;
      }

    }

  }

}