/*--------------------------------------------------------------
# Product Page Templates
--------------------------------------------------------------*/
/* Products & Product Type Pages */

.post-type-archive-product, .tax-product-type {

  .site-main {
    @include container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  
    header {
      margin: 2rem 0 3rem 0;
      width: 100%;
      display: flex;
      align-items: space-around;
      flex-direction: column;
      border-bottom: $dashed_border;

      .taxonomy-description {
        p {
          margin: 0; 
          padding: 2rem 0;
          text-align: center;
        }
      }
    }
  }

  h1 {
    width: 100%;
    margin: 3rem 0 0 0;
    font-size: 2.5rem;
    text-align: center;
  }

  .type-product {
    border: $solid_border;
    flex-basis: 23%;
    overflow: hidden;
    
    a {
      display: flex;
      justify-content: center;
      border-bottom: $solid_border;
      border-width: 5px;

      img {
        min-height: 16rem;
        max-width: none;
        width: auto;
      }
    }

    .product-info {
      display: flex;
      padding: 1rem;
      justify-content: space-between;
      position: relative;
    
      p {
        margin: 0;
        padding: 0 0.1rem;
        display: inline-block;
        background: white;
        z-index: 10;
      }
    
      .dotted-line {
        top: 58%;
        width: 85%;
        position: absolute;
        border-bottom: 2px dotted #404040;
        z-index: 0;
      }
    }
  }
}

.post-type-archive-product {
  .products-categories {
    width: 100%;
    margin: 0;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;

    li {
      margin: 0 1.5rem;
      font-weight: normal;

      a h3 {
        margin: 0;
        font-weight: normal;
      }
    }
  }
}
  
/* Single Product Pages */
.single-product {
  
  .site-main {
    @include container;
  }

  .product {
    padding: 6rem 0;
    display: flex;

    .wp-post-image {
      padding-right: 3rem;
    }

    .product-info {
      flex-basis: 50%;

      h1 {
        margin: 0 0 1rem 0;
        color: $color__orange-brand;
        font-size: 2.4rem;
      }

      .price {
        margin: 0 0 2rem 0;
        font-family: $font__accent;
        font-size: 1.75rem;
      }

      p {
        line-height: 1.75rem;
      }
    }
  }
}