/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.widget-area {
  padding-top: 3rem;
  border-left: 1px solid $color__grey-border;

  aside {
    margin-top: 4rem;
  }

  h2 {
    color: $color__purple-brand;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
  }

}

.sidebar-contact-info {
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info-text {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;

    p {
      margin: 0;
    }

    .fa {
      padding-right: 1.5rem;
    }

}

// archives

.sidebar-archives {

  h2 {
    padding-bottom: 1rem;
  }

  .archives-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }
}