/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.widget-area {
  padding-top: 1rem;
  border-left: 1px solid $color__grey-border;

  aside {
    margin-top: 3rem;
  }

  h2 {
    color: $color__purple-brand;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }

}

.sidebar-contact-info {
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info-text {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;

    p {
      margin: 0;
    }

    .fa {
      padding-right: 1.5rem;
    }
}

// Business Hours
.business-hours-day {
	font-weight: bold;
}

// Archives
.widget_archive{

  h2 {
    padding-bottom: 1rem;
  }

  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  clear: both;
	padding: 1rem;
  background-image: url('../../images/dark-wood.png');

	.container {
		padding: 3rem 0 1rem 0;
		display: flex;
    flex-wrap: wrap;
	}
}

#footer-sidebar {
	height: 11rem;
	width: 50%;
  display: flex;
  flex-direction: row;

	.widget {
		width: 50%;
	}

  h3 {
    margin: 0;
    color: $color__orange-brand;
    @include font-accent;
  }

  p, a, .fa {
   color: #fff; 
  }
}

#contact-info-3 {

  .fa {
    font-size: 1.25rem;
  }

	.footer-social-media {
		.fa {
			padding-right: 0.5rem;
		}
	}
}

.footer-business-hours {
  width: 25%;
}

.footer-logo {
  width: 50%;
  display: flex;
  justify-content: flex-end;

  a {
    width: 50%;
  }
}

.footer-copyright {
	width: 100%;
  color: #fff;
  @include font-accent;
  text-align: center;

	p {
		margin: 3rem 0 0 0;
	}
}